

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#google_maps_iframe_container{
/*    position:relative;
    padding-bottom:21px;*/
}
#map {
    height:500px;


}
.row {
/*    padding-bottom:21px;*/
}

.streetViewMarkerImage{
    width:280px;
    height:280px;
}
.widget-scene-canvas{
    width:280px !important;
    height:280px !important;
}












